#nav{
    opacity: 90%;
    height:50px;
    padding: 15px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  #nav{
    margin: auto;
    margin-left: 0;
  }

  #logo{
    margin-left:-170vh;
    width: 100px;
    height: 100px;
  }

  #nav a{
    color: #ddb036;
    text-decoration:none;
    margin:12px;
    transition: .5s;
  }

  #nav a:hover{
    color: #ddb036;
    opacity: 70%;
  }