
p{
    position:absolute;
    margin-left: 43%;
    margin-top: 10%;
    display: inline;
  }

  a{
    position: absolute;
    margin-top: 10%;
    margin: 0 10px;
  }

  #Footer-info{
    height: 40px;
    margin-left: -53%;
  }

  #footer {
    height: 200px;
    background-color: rgb(224, 183, 92);
    color: #ffffff;
    bottom: 0;
    width: 100%;
  }